.footer {
    background-color: #343a40;
    color: white;
  }
  
  .footer h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .footer p {
    font-size: 0.9rem;
  }
  
  .footer ul {
    padding: 0;
    list-style: none;
  }
  
  .footer ul li {
    margin-bottom: 0.5rem;
  }
  
  .footer a {
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #0d6efd; /* Bootstrap primary color */
  }
  
  .footer .bi {
    font-size: 1.75rem;
    transition: transform 0.3s;
  }
  
  .footer .bi:hover {
    transform: scale(1.1);
    color: #0d6efd; /* Bootstrap primary color */
  }
  